<a id='top'></a>

# Homework 1: Data Cleaning and Exploratory Data Analysis 
***

**Name**: 

***

This assignment is due on Canvas by **11:59 PM on Friday January 31**. Your solutions to theoretical questions should be done in Markdown directly below the associated question.  Your solutions to computational questions should include any specified Python code and results as well as written commentary on your conclusions.  Remember that you are encouraged to discuss the problems with your classmates, but **you must write all code and solutions on your own**.

**NOTES**: 

- Any relevant data sets should be available under the **Data** module on Canvas. 
- If you're not familiar with typesetting math directly into Markdown then by all means, do your work on paper first and then typeset it later.  Remember that there is a [reference guide](https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference) linked on Canvas on writing math in Markdown. **All** of your written commentary, justifications and mathematical work should be in Markdown.
- Because you can technically evaluate notebook cells is a non-linear order, it's a good idea to do Kernel $\rightarrow$ Restart & Run All as a check before submitting your solutions.  That way if we need to run your code you will know that it will work as expected. 
- It is **bad form** to make your reader interpret numerical output from your code.  If a question asks you to compute some value from the data you should show your code output **AND** write a summary of the results in Markdown directly below your code. 
- This probably goes without saying, but... For any question that asks you to calculate something, you **must show all work and justify your answers to receive credit**. Sparse or nonexistent work will receive sparse or nonexistent credit. 

---
**Shortcuts:**  [Problem 1](#p1) | [Problem 2](#p2) | [Problem 3](#p3) | [Problem 4](#p4) | [Problem 5](#p5) 

---

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pylab as plt
%matplotlib inline

[Back to top](#top)

<br>

<a/ id='p1'></a>

### (10 points) Problem 1
***

<img style="float: left; width: 200px; padding: 3mm;" src="https://aquarium.org/wp-content/uploads/2015/08/Seahorse-female.jpg" alt="Drawing"/>  
Poseidon is studying seahorses. Locations in each of the Atlantic, Pacific, Indian, Artic, and Southern Oceans are chosen to catch and release seahorses. After being caught, the seahorses are monitored for 24 hours while being fed organic, free-range plankton. The amount of plankton that each seahorse eats is recorded in an app on Poseidon’s phone, called Hippocampus. He collects 6 seahorses from the Arctic Ocean, 36 seahorses from the Pacific Ocean, 12 seahorses from the Indian Ocean, 6 seahorses from the Southern Ocean, and 42 seahorses from the Atlantic Ocean. 

Poseidon wants to get a sense for the average amount of plankton eaten by seahorses, so he uses the Hippcampus app to first order the seahorses in terms of when each seahorse was caught (first caught to last caught). Then, he selects every 3rd seahorse to see how much plankton was eaten.

$$ \quad $$
    
**Part A:** Identify the following: <br>
<br>

- the population 
- the sample frame 
- the sample 
- the type of sample 
- the quantity of interest

**Population:**
    given that the population is defined to be the entire data set (ie, all the seahorses that were collected). so to find out our population we add up how many seahorses were caught from each ocean:<br>
    $6+36+12+6+42= 102$<br>
    Therefore our population is **102 seahorses**.
   
   
   
   
   
   
   
   
   
**Sample frame:**
    A sample frame is defined as the method of selecting the sampel, which in this case is the hippocampus app as it is used to decide which seahorse's data are to be used.<br>
    



**Sample:**
    The sample is the subset of the population who's data is being used. In this case the sample is the subset of every third seahorse that is caught and evaluated. the size of the sampel is 34 as: <br>
    
$102/3=34$



**Type of Sample:**
    Because the seahorses are "counted off" I would say that this is sytematic sampling.
    
**Quantity of Interest:**
    Here what we are looking for is the number of plankton that the seahorses eat. Therefore, this the quantity of interest.

[Back to top](#top)

<br>

<a/ id='p2'></a>

### (25 points) Problem 2
***

A method to investigate the sensitivity of the sample mean and sample median to extreme outliers and changes in the dataset is to replace one or more elements in a given dataset by a number $y$ and investigate the effect when $y$ changes. To illustrate this, consider the following dataset:
 
$$  4.3 \quad 5.2 \quad 5.0 \quad 3.8 \quad 4.1 \quad 5.5 \quad 1.9 $$

**Part A:** Compute the sample mean and sample median. Do not use the canned mean and median python functions. Write your own code to compute these quantities. You may use the python length and sort functions, but that is it.

In [32]:
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
a= np.sort(a)
mean =(sum(a)/7)
print("my calculated mean is:", mean)
median= a[int(len(a)/2)]
print("my calculated median is:", median)

my calculated mean is: 4.257142857142857
my calculated median is: 4.3

**Part B:** Now, recompute the mean and the median using the python numpy functions. Compare your answers to what you computed in Part A. Do your answer match? (Hint: They should!)

In [30]:
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
mean= np.mean(a)
a= np.sort(a)
#print(a)
median= np.median(a)
print("the mean is: ",mean)
print("the median is: ", median)

the mean is:  4.257142857142857
the median is:  4.3

As we can see both my calculation and python calculation come to the same thing.

**Part C:** Now consider the following data set. 
$$  4.3 \quad 5.2 \quad 5.0 \quad 3.8 \quad 4.1 \quad 5.5 \quad 1.9 \quad y$$

Is there a value for $y$ that would make the mean of the data equal to 7? If so, calculate the value of $y$ that makes the mean equal to 7. If not, clearly explain why not.
    
Is there a value for $y$ that would make the median of the data equal to 7? If so, calculate the values of $y$ that makes the median equal to 7. If not, clearly explain why not.

**Solution:**

Yes, It is possible to add a singluar number to the data set such that the mean is 7. We have to start by looking at how the mean is calculated. Let A signify the data set not including y.

$Mean= (Sum(A)+y)/len(A)$<br>

If we now set the mean to 7 we can solve for y 

$7 \times len(A)= Sum(A) + Y$<br>
$(7 \times len(A))-Sum(A) = Y$<br>

we now translate this into the python code that solves for y. When that is complete we can take that calculated y and add it into the data set and use the built in mean to check our work.

In [33]:
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
y= 7*7 -sum(a)
a.append(y)
mean = np.mean(a)
print("the calculated y is: ", y)
print("the calculated mean is", mean)

the calculated y is:  19.200000000000003
the calculated mean is 6.125

**Solution:**
In this particular case it is not possible to get the median to become 7 by adding a number. This is because the median is depdant on the ascending order. adding any one number would make the median a number in the data set, in fact it would make it the middle number in the data set. imagine we have the below list where y is the new number we are inputting (it might not go in that spot but jut roll with it for now).<br>
$[1.9, 3.8, 4.3, 5.0, 5.2, 5.5, y]$<br>
in this case the newmedian would be 5 (assumes y greater than 5.0). Because the "central" numbers in the original data set are not near 7 then it is no possible to add any number to shift the median left or right to equal 7. It is also impossible to insert the new number around the central number such that the mean become 7. This is because the central numbers are significantly(relivitve) less than 7.

In [ ]:
# No code for this explanation se the above written explanation.

**Part D**: Compute the sample variance and the sample standard deviation for the original dataset given in part A using the formulas given in class. You may not use the built-in python variance, standard deviation, or sum functions. Using the length and square root functions is fine.

In [26]:
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
# we first need to calculate the mean
mean=0
for k in a:
    mean = mean + k
mean= mean/(len(a))
s=0
#print(mean)
for k in a:
    s= s+pow((k-mean),2)
s= s*(1/(len(a)-1))
print("the sample variance is: ", s)
print("the standard deviation is: ", math.sqrt(s))

the sample variance is:  1.462857142857143
the standard deviation is:  1.2094863136295273

**Part E:** Execute the following code. Does it match what you computed in part D? Why or why not? If not, how can you correct the code below?

In [34]:
dataset = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
print("The sample variance is: ", np.var(dataset))
print("the std dev is: ", np.std(dataset))

The sample variance is:  1.2538775510204085
the std dev is:  1.1197667395580244

In [39]:
# Your coddataset = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
print("The sample variance is: ", np.var(dataset, ddof=1))# the ddof=1 specifed sample variance so var is calculated 1/(n-1)
print("the std dev is: ", np.std(dataset, ddof=1))# the same applies here.

The sample variance is:  1.4628571428571433
the std dev is:  1.1197667395580244

**Part F**: Again consider the data set from Part C: $$  4.3 \quad 5.2 \quad 5.0 \quad 3.8 \quad 4.1 \quad 5.5 \quad 1.9 \quad y$$

Compute the sample median for the following cases (you may use whatever built-in python functions you'd like): 
- $y=5$ 
- $y=50$ 
- $y=4.36$ 
- $y \to \infty$ 
- $y \to -\infty$

In [42]:
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]

#y=5
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5, 5.5, 1.9]
print("when y=5 the median= ", np.median(a))
#y=50
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9, 50]
print("when y=50, the median=", np.median(a))
#y= 4.36
a= [4.3, 5.2, 5.0, 3.8, 4.1, 4.36, 5.5, 1.9]
print("when y=4.36, the median= ", np.median(a))
#y= infinity 
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9, math.inf]
print("y= infinity, the median= ", np.median(a))
a= [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9, -math.inf]
print("y= -infinity, the median= ", np.median(a))

when y=5 the median=  4.65
when y=50, the median= 4.65
when y=4.36, the median=  4.33
y= infinity, the median=  4.65
y= -infinity, the median=  4.199999999999999

**Part G**: Think about the previous parts, above, and describe in words or mathematical notation the answer to the following question:

- By varying $y$, what is the set of all the possible values that the sample mean could take on?

**Part H**: Describe in words or mathematical notation, what happens to the sample standard deviation when $y$ is varied in the following ways: 
 
- $y \to \infty$ 
- $y \to \bar{x}$

[Back to top](#top)

<a/ id='p3'></a>

## (25 pts) Problem 3
*** 
Some claim that the final hours aboard the RMS Titanic were marked by "class warfare" in which the people with first-class tickets took all the good spots on the lifeboats; others claim that the final hours were characterized by male chivalry, in which the men valiantly gave up their positions in the boats and succumbed bravely to the depths of the Atlantic. 

We have the data on survival rates by class and by sex, so let's figure out whether there is evidence for these scenarios. Access the Titanic data in `titanic_data.csv` and store it in a Pandas DataFrame. The data contains information pertaining to class status (**Pclass**), survival (**Survived**), and gender (**Sex**) of passengers, among other things. Be sure to use the `titanic_data.csv` data set, *not* the `clean_titanic_data` file from the in-class notebook.

In [2]:
file_path = 'titanic_data.csv'
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,36.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,18.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,14.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,27.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,63.0,0,0,373450,8.0500,NaN,S

**Part A**: Consider the two claims: class warfare, and male chivalry. Suppose that class warfare occurred in the final hours aboard the Titanic.  What patterns might you expect to see in the data?  Suppose that male chivalry was widespread during the final hours instead. What patterns might you then expect to see in the data?  Explain both of these hypothesized patterns in words. Are these two hypotheses mutually exclusive or not?

**Part B**: Use Pandas methods to create a clean data set by removing any rows from the DataFrame that are missing values corresponding to **Survived**, **Pclass**, **Age**, or **Sex**. Store the clean data in a DataFrame called dfTitanic. Be sure to show any exploratory work determining if/where there are rows with missing values.

In [ ]:
# Your code here.

**Part C**: Compute the fraction of survivors according to class and gender. There are 3 passenger classes and 2 sexes in the data set, so you should report all 6 possible combinations.  Then, answer 3 questions:
* **(i)** Within each passenger class, were men or women more/less/equally likely to survive?
* **(ii)**  Looking at only the male or only the female passengers, how is passenger class related to the category's survival rate?
* **(iii)**  Did men in first class or women in third class have a higher survival rate?

In [ ]:
# Your code here.

**Part D**: Plot a histogram of all of the passenger ages, using the bin edges $[0,5,10,\ldots,70,75,80]$ defined by `my_bins` below. How would you characterize the distribution of **AGE**? (By _characterize_ we mean that you should indicate whether the data are unimodal, bimodal, multimodal, symmetric, negatively skewed, positively skewed, etc.)  Be sure to label your axes and use your figure to justify your conclusions.

In [ ]:
my_bins = range(0,85,5)

In [ ]:
# Your code here.

**Part E**: One might wonder how a passenger's age is related to the likelihood that they would survive the Titanic disaster. To answer this question graphically, plot two density histograms on the same set of axes, showing the distribution of the ages of passengers who survived, and the distribution of the ages of passengers who did not. 
* Use the bin edges $[0,5,10,\ldots,70,75,80]$ for both histograms.
* This problem is about a *ship* sinking in the *ocean*, so use **coral** and **seagreen** as the facecolors for your histogram boxes.
* Plot both histograms on a single set of axes (there should be only one panel in the figure you create), but use Matplotlib/Pandas plotting functionality to make the faces of the histogram boxes somewhat transparent, so both histograms are visible.
* Include a legend and label your axes.
* Comment on the results. Does your figure suggest that some age ranges are more or less likely to have survived the disaster than other ages? Fully explain your reasoning and use your figure to justify your conclusions.
* If you noticed some relationship between age and likelihood of survival, what is one possible explanation?

In [ ]:
# Your code here.

**Part F:** In Part E, we plotted two *density* histograms, showing the distributions of ages of passengers that survived or did not survive the Titanic disaster. Why would it be misleading for us to have plotted these as *frequency* histograms instead?

**Part G**: Do the data suggest class warfare, male chivalry, or some combination of both characteristics in the final hours aboard the Titanic?  Justify your conclusion based on the computations done above, or do any other analysis that you like, but be sure to clearly justify your conclusion.

[Back to top](#top)
<a/ id='p4'></a>

## (25 pts) Problem 4 (Snowfall in Boulder)
***

The NOAA Earth System Research Laboratory (ESRL) Physical Sciences Division (PSD) conducts scientific research to observe, understand, model, predict, and forecast weather, water, and climate extremes and their impacts. They have a website with publicly available data. One such data set contains monthly snowfall for Boulder dating back to 1889 (https://www.esrl.noaa.gov/psd/boulder/bouldersnow.html). Load ‘Boulder_Snowfall.csv’ from the Canvas page. 

**Part A:** To start, we need to “clean” our data set. When the amount of snow was nonzero, but too small to be recorded, this data set recorded ‘T’. Replace those instances with zeros. AFTER, you've done that, remove any rows (which correspond to years) with missing data. As a check, if you've cleaned the file correctly, there should be 121 rows remaining.

In [ ]:
# Your code here.

**Part B:** Plot the last column of data, “Total Jan-Dec”, from the cleaned data set. Label your axes. Do you observe any trends? Discuss.

[Note: Make sure that your x-axis tick labels are in years and are readable. You may have to play around with formatting the ticklabels. plt.MaxNLocator might be helpful depending on how you plotted your data.]

In [ ]:
# Your code here.

**Part C:** Using your cleaned data set, create a histogram of the yearly snowfall. Bin your data with a bin-width of 5 inches, starting at 35 inches. Make the edgecolor of your graph white. What is the most common amount of snow to get in a year? How does this compare with how much snow we got in 2019?

In [ ]:
# Your code here.

**Part D:** Generate a series of 12 box plots to represent each decade starting in 1900, using your cleaned data set. Orient the box plots so that the decades (‘1900-1909’, ‘1910-1919’, … , ‘2010-2019’) appear along the x-axis, and the y-axis shows the amount of snowfall. Have all 12 boxplots as part of one graph. Include appropriate labels to your axes and a title, so that if someone not in our class were to look at your plots, they would understand what they were looking at. 

[Note: Data from the year 2004 was dropped during the initial cleaning of the data set (or should have been). Keep this in mind when plotting data from the 2000-2009 decade.]

In [ ]:
# Your code here.


**Part E:** It’s almost February, so let’s study snowfall in Boulder, in February. Compute the mean February snowfall using your cleaned data set. Next calculate the Tukey 5-number summary for the February snowfall data. Lastly, generate a boxplot for the February snowfall.

In [ ]:
# Your code here.

**Part F:** Plot all of the February snowfall with a line plot, using your cleaned data set. How many inches of snow do you predict we will get this February in Boulder? Once February is over, we’ll see who was the closest!

In [ ]:
# Your code here.

[Back to top](#top)
<a/ id='p5'></a>

## (15 pts) Problem 5
***
Consider the following 3 data sets:

`A=[8, 6, 7, 5, 3, 0, 9]`

`B=[2, 29, 84, 2, 10, 69, 3, 31, 18]`

`C` is the random data set generated by using `np.random.randint(0,1000, size=100)`

For each data set, perform the following computations:

**Part A:** Compute and print the mean and standard deviation of the data set. You may use built-in python functions.

In [ ]:
# Your code here.

**Part B:** Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation.

In [ ]:
# Your code here.

**Part C:** Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation and then dividing by the original standard deviation.

In [ ]:
# Your code here.

**Part D:** Why might this result matter?